version: "3.3"

services:
  ansible:
    image: {{ docker_image_alm }}
    command: /bin/bash
    hostname: ansible
    restart: always
    tty: true
    user: ansible
    working_dir: /home/ansible
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
      - ansible-home:/home/ansible
      - .:/home/ansible/project
      - hosts-home:/home/ansible/hosts-home

  {% for h in inventory.hosts %}
  {{ h }}:
    image: {{ docker_image }}
    command: /sbin/init
    # cap_add:
    #   - SYS_ADMIN
    hostname: {{ h }}
    privileged: true
    stdin_open: true
    # tty: true
    tmpfs:
      - /run
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
      - hosts-home:/home/ansible
{% endfor %}

volumes:
  ansible-home:
  hosts-home:
